.carousel{
	position: fixed;
	top: 0;
	z-index: 1;
	height: 690px;
	> ul{
		width: 200%;
		padding: 0;
		margin: 0;
		height: 100%;
		> li{
			text-align:	center;
			height:	100%;
			list-style: none;
			float: left;
			> img{
				width: 100vw;
				height: 100vh;
			}
		}
	}
}
.carouselcontrols{
	position: fixed;
	cursor: pointer;
	font-size: 30px;
	top: 50%;
	color: #fff;
	z-index: 2;
	&:hover{
		color: #aaa;
	}
}
.prev{
	@extend .carouselcontrols;
	left: 3%;
}
.next{
	@extend .carouselcontrols;
	right:3%;
}
@media only screen and (max-width: 560px){
	.carousel{
		height: 510px;
	}
}
@media only screen and (max-width: 460px){
	.carousel{
		height: 400px;
	}
}